@font-face {
    font-family: 'yekan';
    src: url('../fonts/Yekan.eot');
    src: url('../fonts/Yekan.eot?#iefix') format("embedded-opentype"), url('../fonts/Yekan.woff') format("woff"), url('../fonts/Yekan.ttf') format("truetype"), url('../fonts/Yekan.svg#BYekan') format("svg");
    font-weight: normal;
    font-style: normal
}

body {
    font-family: 'yekan';
    font-size: 15px;
}

.fa-right {
    margin-right: 4px;
}

.fa-left {
    margin-left: 4px;
}

.ltr {
    direction: ltr;
}

.txt-red {
    color: red;
}

.txt-green {
    color: green;
}